<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style type="text/css">
        i {
            margin-right: 20px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">ITManager</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <span th:text="${user.name}">
                        西安
                    </span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item">
                    <dd>
                        <a href="/index"><i class="layui-icon layui-icon-app"></i>主页</a>
                    </dd>
                </li>
                <li class="layui-nav-item">
                    <dd>
                        <a class="" href="javascript:;"><i class="layui-icon layui-icon-read"></i>项目</a>
                    </dd>
                </li>
                <li class="layui-nav-item">
                    <dd>
                        <a href="javascript:;"><i class="layui-icon layui-icon-form"></i>任务</a>
                    </dd>
                </li>
                <li class="layui-nav-item">
                    <dd>
                        <a href="/member"><i class="layui-icon layui-icon-username"></i>成员</a>
                    </dd>
                </li>
                <li class="layui-nav-item">
                    <dd>
                        <a href="/department" class="layui-this"><i class="layui-icon layui-icon-user"></i>部门</a>
                    </dd>
                </li>
                <li class="layui-nav-item">
                    <dd>
                        <a href="javascript:;"><i class="layui-icon layui-icon-engine"></i>统计</a>
                    </dd>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <table class="layui-table" lay-even="" lay-skin="row">
                <colgroup>
                    <col width="200">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>部门</th>
                    <th>入职时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="Department : ${departmentList}">
                    <td th:text="${Department.departmentName}">贤心</td>
                    <td th:text="${Department.departmentCreateTime}">汉族</td>
                    <td>
                        <!--                        <button class="layui-btn layui-btn-xs"-->
                        <!--                                th:onclick="'javascript:editUser('+${user.userId}+')'">编辑-->
                        <!--                        </button>-->
                        <!--                        <button class="layui-btn layui-btn-danger layui-btn-xs"-->
                        <!--                                th:onclick="'javascript:delUser('+${user.userId}+')'">删除-->
                        <!--                        </button>-->
                        <button class="layui-btn layui-btn-normal layui-btn-xs">查看</button>
                        <button class="layui-btn layui-btn-xs">编辑
                        </button>
                        <button class="layui-btn layui-btn-danger layui-btn-xs">删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="../static/layui/layui.js"></script>
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    $(function () {
        // layui-this
        $(".layui-side-scroll ul .layui-nav-item dd").click(function () {
            // 移除所有的 layui-this
            $(this).siblings().removeClass("layui-this");
            // 为当前元素添加 layui-this
            $(this).addClass("layui-this");
        });
    })
</script>
</body>
</html>